<section>
    <h3>Or Helper</h3>
    <ul>
        <li>
            {{#or true false}} {{$ldim}}#or true false{{$rdim}} {{/or}}
        </li>
        <li>
            {{#or false false}} {{else}} {{$ldim}}else false false{{$rdim}} {{/or}}
        </li>
    </ul>
</section>
<section>
    <h3>And Helper</h3>
    <ul>
        <li>
            {{#or true false}} {{$ldim}}#or true false{{$rdim}} {{/or}}
        </li>
        <li>
            {{#or false false}} {{else}} {{$ldim}}else false false{{$rdim}} {{/or}}
        </li>
    </ul>
</section>
<section>
    <h3>Equal Helper</h3>
    <ul>
        <li>
            {{#equal false false}} {{$ldim}}#equal false false{{$rdim}} {{else}} {{/equal}}
        </li>
        <li>
            {{#equal true false}} {{else}} {{$ldim}}else true false{{$rdim}} {{/equal}}
        </li>
    </ul>
</section>