<h1>Equal Helper</h1>
{{#equal 10 0}}
<p>egale</p>
{{else}}
<p>not egale</p>
{{/equal}}

<h1>Random Helper</h1>
<p>{{$random 0}}</p>

<h1>Lorem Helper</h1>
<p>{{$lorem 10}}</p>

<h1>Image Helper</h1>
<p>{{$image 300}}</p>
