<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h3>Variables</h3>
        <p>{{content}}</p>
        <h3>Include</h3>
            {{$include 'partials'}}
    </body>
</html>
