<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h3>Dummy</h3>
        <p>{{$dummy '50'}}</p>
        <p>{{$dummy}}</p>
        <p>{{$dummy '320x100'}}</p>
        <p>{{$dummy '320x100:placehold+image'}}</p>
        <p>{{$dummy '320x100:ACE539:placehold+image'}}</p>
        <p>{{$dummy '320x100:FF99EE:FFF:placehold+image'}}</p>
    </body>
</html>
