<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <h1>Repeat Helper</h1>
        <h2>Repeat 2</h2>
        <p>
        <ul class="">
        {{#repeat '4'}}
            {{#if @last}}
            <li>Group {{@index}} last</li>
            {{else}}
                {{#if @first}}
                <li>Group {{@index}} first</li>
                {{else}}
                <li>Group {{@index}}</li>
                {{/if}}
            {{/if}}
            {{#each ../items}}
            <li class="item{{@index}} {{#if @last}}last{{/if}}{{#if @first}}first{{/if}}">{{value}} - {{../count}}</li>
            {{/each}}
        {{/repeat}}
        </ul>
        </p>
    </body>
</html>
