<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <h1>Repeat Helper</h1>
        <h2>Repeat 2</h2>
        <p>
        {{#repeat '3'}}
        <ul class="index{{@index}}">
        {{#each toto}}
            <li>{{value}} {{@index}}</li>
        {{/each}}
        </ul>
        {{/repeat}}
        </p>
    </body>
</html>
